/* For Mobile Screen */

@media (max-width:668px) {
    .hero-content {
        background-color: darkgoldenrod;
    }
    .blog {
        display: block;
    }
}

@media (max-width:992px) {
    .top-players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}